
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 48
set steam_webApiKey "none"
sets tags "esx, esx legacy, legacy"

## You MAY edit the following:
sv_licenseKey ""
sv_hostname "ESX Legacy"
sets sv_projectName "ESXLegacy"
sets sv_projectDesc "ESX Legacy"
sets locale "en-US" 
set mysql_connection_string "mysql://root@localhost/ESX-LEGACY?charset=utf8mb4"

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
add_principal identifier.fivem:0000

## pma-voice config
setr voice_enableRadioAnim 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

## Default & Standalone resources
ensure mysql-async
ensure bob74_ipl
ensure loadingscreen

## ESX Legacy
ensure es_extended
ensure gcphone
ensure [esx]

## ESX Addons
ensure [esx_addons]
ensure cosmo_hud
ensure mdt
ensure pma-voice
ensure rp-radio
stop basic-gamemode #remove this if you dont want to use multicharacter

## EasyAdmin stuff
setr ea_LanguageName "en"               # set our language to english
setr ea_alwaysShowButtons "false"       # we don't want to see buttons we can't even access, do we? default: "false"
set ea_moderationNotification "false"   # this can be either "false" or a discord webhook address, this will send a discord message if an admin takes actions against a player  ( such as banning and kicking )
set ea_custombanlist "false"            # read docs for this, dont touch it
set ea_enableCallAdminCommand "true"    # enables "calladmin" command via webhook
set ea_enableReportCommand "true"       # enables "report" command, see Configuration Wiki Page for More infos
setr ea_MenuButton "f3"
add_ace group.admin easyadmin allow
ensure EasyAdmin

exec easyadmin_permissions.cfg
